
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EcomGrove</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mx-auto mb-lg-0">
        <li class="nav-item px-2">
          <a class="nav-link" id="home" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item px-5">
          <a class="nav-link" routerLink="" (click)="checkSession()">Link</a>
        </li>
        <li class="nav-item dropdown px-5" ngbDropdown>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
            Dropdown
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li ngbDropdownItem><a class="dropdown-item" href="#">Action</a></li>
            <li ngbDropdownItem><a class="dropdown-item" href="#">Another action</a></li>
            <li ngbDropdownItem><hr class="dropdown-divider"></li>
            <li ngbDropdownItem><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactUs">Support</a>
        </li>
      </ul>
      <form class="d-flex mx-auto" role="search">
        <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
      <div><a routerLink="/addCart" >cart</a></div>
      <div class="d-flex p-3">
        <button class="btn btn-outline-success me-2" type="button"   *ngIf="!loginStatus" (click)="login()">Login</button>
        <button class="btn btn-outline-success" type="button" *ngIf="loginStatus" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>