<body>
  <div class="container">
    
    <div class="text-light"> 
      <h2 class="d-flex justify-content-center">CONTACT US</h2>
      <p class="d-flex justify-content-center">
        We Would Love to Respond To Your Queries And Help You Succeed. <br>
        Fell Free To Get In Touch With Us.
      </p>
    </div>
    <div class="row p-5">
    <div class="col rounded ">
      <div class="address">
     <h2> <i class="fa-solid fa-address-book"></i> Address</h2>
        <p class="text-light">12 <br>
          abc street <br>
          chennai <br>
          pin:600004
        </p>
      </div>
      <div>
        <h2><i class="fa-solid fa-phone"></i>  Phone num</h2>
        <p  class="text-light">+911234567890</p>
      </div>
      <div >
        <h2><i class="fa-solid fa-envelope"></i> Email</h2>
        <p class="text-light">abc&#64;email.com</p>
      </div>
    </div>
    <div class="col border" id="messagebox">
      <form action="">
      <h2>send message</h2>
      <div class="detais">
        <label for="full-name"> Full name</label>
        <div class="message">
          <input type="text" name="full-name" class="form-control" />
        </div>
      </div>
      <div>
        <label for="email"> Email</label>
        <div class="email">
          <input type="email" name="email" class="form-control" />
        </div>
      </div>
      <div>
        <label for="typemessage"> Type your message</label>
        <div>
          <textarea name="typmessage" id="" cols="10" rows="2" required="required" class="form-control" ></textarea>
        </div>
      </div>
         <div class="button mt-3">
         <button type="submit" class="btn btn-primary"> Send</button>
         </div>
      </form>
    </div>
  </div>
  </div>
</body>
