<div class="mt-5 container">
  <div action="" class="border p-5 text-dark rounded">
    <div class="text-center text-primary h1">Sell product</div>
    <div class="m-5">
      <label for="" class="text-success h2">choose product </label>
      <select
        name=""
        id=""
        class="form-control form-select"
        [(ngModel)]="selectedOption"
      >
        Choose Products
        <option value="mobile">Mobile</option>
        <option value="dress">Dress</option>
        <option value="watch">Watch</option>
        <option value="laptop">Laptop</option>
      </select>
    </div>
    <!-- mobile -->
    <div *ngIf="selectedOption == 'mobile'">
      <form [formGroup]="mobileDetails" (ngSubmit)="addProduct()">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">Product-Image</div>
              <div class="card-body">
                <h5 class="card-title">Product Image</h5>
                <img
                  src="../../../assets/images/home/card-image.jpg"
                  alt=""
                  width="100%"
                  class="card-image rounded"
                />
                <div
                  class="card-img-overlay d-flex align-items-end justify-content-around"
                >
                  <button type="button" class="btn btn-secondary">
                    replace
                  </button>
                  <button type="button " class="btn btn-secondary">
                    remove
                  </button>
                </div>
              </div>
            </div>
            <input type="file" name="add another image" id="" />
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">Product details</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Choose Mobile</mat-label>
                      <mat-select formControlName="selectProduct">
                        <mat-option value="vivo">VIVO</mat-option>
                        <mat-option value="iqoo">IQOO</mat-option>
                        <mat-option value="oneplus">ONE PLUS</mat-option>
                        <mat-option value="iphone">IPHONE</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Mobile Model</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="mobileModel"
                        placeholder="Ex. 9pro,9lite"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-6 mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Select Ram</mat-label>
                      <mat-select formControlName="mobileRam">
                        <mat-option value="2gb">2gb</mat-option>
                        <mat-option value="4gb">4gb</mat-option>
                        <mat-option value="6gb">6gb</mat-option>
                        <mat-option value="8gb">8gb</mat-option>
                        <mat-option value="12gb">12gb</mat-option>
                        <mat-option value="16gb">16gb</mat-option>
                        <mat-option value="32gb">32gb</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-6 mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Select Storage</mat-label>
                      <mat-select formControlName="mobileStorage">
                        <mat-option value="32gb">32Gb</mat-option>
                        <mat-option value="64gb">64Gb</mat-option>
                        <mat-option value="128gb">128Gb</mat-option>
                        <mat-option value="256">256Gb</mat-option>
                        <mat-option value="512">512Gb</mat-option>
                        <mat-option value="1tb">1Tb</mat-option>
                        <mat-option value="2tb">2Tb</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-6 mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Mobile Weight</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="mobileWeight"
                        placeholder="Ex. 170g"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-6 mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Mobile Size</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="mobileSize"
                        placeholder="Ex. 6.2inch"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="card">
              <div class="card-header">Product details</div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>OS</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="os"
                        placeholder="Ex. android 9,android 11"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Camera</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="camera"
                        placeholder="Ex. 12+12+16Mb/10+8Mb"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Processor</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="processor"
                        placeholder="Ex. snapdragon,mediatek"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Prize</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="mobilePrize"
                        placeholder="Ex. 32000"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Battery</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="mobileBattery"
                        placeholder="Ex. 5000Mah"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Colour</mat-label>
                      <input
                        type="color"
                        matInput
                        formControlName="choosedColour"
                        placeholder="Ex. pat@example.com"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Mobile Colour</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="mobileColour"
                        placeholder="Ex. black,blue,red"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Sim Type</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="sim"
                        placeholder="Ex. 4G,5G"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Made Of </mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="quality"
                        placeholder="Ex. metal,plastci"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>ProductId</mat-label>
                      <input
                        type="number"
                        matInput
                        formControlName="mobileId"
                        placeholder="Ex. 7993838379439"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Country of Origin</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="mobileOrigin"
                        placeholder="Ex. india,china,jaban"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Quantity</mat-label>
                      <input
                        type="number"
                        matInput
                        formControlName="quantity"
                        placeholder="Ex. Number of Quantity"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <button type="submit" class="btn btn-primary">Submitt</button>
        </div>
      </form>
    </div>

    <!-- dress -->
    <div *ngIf="selectedOption == 'dress'">
      <form [formGroup]="dressDetail" (ngSubmit)="addDressDetail()">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">Product-Image</div>
              <div class="card-body">
                <h5 class="card-title">Product Image</h5>
                <img
                  src="../../../assets/images/home/card-image.jpg"
                  alt=""
                  width="100%"
                  class="card-image rounded"
                />
                <div
                  class="card-img-overlay d-flex align-items-end justify-content-around"
                >
                  <button type="button" class="btn btn-secondary">
                    replace
                  </button>
                  <button type="button " class="btn btn-secondary">
                    remove
                  </button>
                </div>
              </div>
            </div>
            <input type="file" name="add another image" id="" />
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">Product Details</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Select Gender</mat-label>
                      <mat-select formControlName="selectGender">
                        <mat-option value="men">Men</mat-option>
                        <mat-option value="women">women</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Select Type</mat-label>
                      <mat-select formControlName="selectProduct">
                        <mat-option value="topWear">TopWear</mat-option>
                        <mat-option value="bottomWear">BottomWear</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-6 mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Select Type Model</mat-label>
                      <mat-select formControlName="selectProductModel">
                        <mat-option value="shirt">Shirt</mat-option>
                        <mat-option value="tshirt">T-Shirt</mat-option>
                        <mat-option value="pant">Pant</mat-option>
                        <mat-option value="trouser">Trouser</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-6 mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Product Name </mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="productName"
                        placeholder="Ex. allen soley,arrow,netplay"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-6 mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Size </mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="dressSize"
                        placeholder="Ex. s,m,l,xl"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-6 mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Colour </mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="dressColour"
                        placeholder="Ex. blue,green,orange"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="card">
              <div class="card-header">Product details</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>product Id </mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="productId"
                        placeholder="Ex. 4345"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Quantity </mat-label>
                      <input
                        type="number"
                        matInput
                        formControlName="quantity"
                        placeholder="Ex.number of quantity"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-6 mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Material Composition </mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="quality"
                        placeholder="Ex. 90%cotton"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-6 mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Item Weight </mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="itemWeight"
                        placeholder="Ex. 500g"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-6 mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Countrty of Origin </mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="productOrigin"
                        placeholder="Ex. india,china,"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-6 mt-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Prize </mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="productPrize"
                        placeholder="Ex.1500rs "
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <button type="submit" class="btn btn-primary">Submitt</button>
        </div>
      </form>
    </div>
  </div>
</div>
