
<body > 
    <div class="row g-0">
        <img src="/assets/images/register/registerbackground.jpg" alt=""  class="col-5">
    
          <div action="" class=" rounded col-6 border" id="content">
            <h1 class="text-dark text-center">Register</h1>
                       <div class="row p-3">
                        <div class="col-3 text-light">Firstname</div>
                        <div class="col-auto"><input type="text" class="form-control"[(ngModel)]='firstName'></div>
                       </div>
                       <div class="row p-3">
                        <div class="col-3  text-light">Lastname </div>
                        <div class="col-auto"><input type="text" class="form-control" [(ngModel)]="lastName"></div>
                       </div>
                       <div class="row p-3">
                        <div class="col-3  text-light">Gender</div>
                        <div class="col-auto text-light">
                            <input type="radio" name="gender" value="male" class="form-check-input" [(ngModel)]="gender"> -male <br>
                            <input type="radio" name="gender" value="female" class="form-check-input" [(ngModel)]="gender">-female <br>
                            <input type="radio" name="gender" value="others"class="form-check-input " [(ngModel)]="gender">-others <br>
                        </div>
                       </div>
                       <div class="row p-3">
                        <div class="col-3  text-light">phone Number</div>
                        <div class="col-auto"><input type="number" class="form-control" [(ngModel)]="phoneNum"></div>
                       </div>
                       <div class="row p-3">
                        <div class="col-3  text-light">EmailId</div>
                        <div class="col-auto"><input type="email" class="form-control" [(ngModel)]="email"></div>
                       </div>
                       <div class="row p-3">
                        <div class="col-3  text-light">Address</div>
                        <div class="col-auto"><textarea name="address" id="" cols="30" rows="3" [(ngModel)]="address"></textarea></div>
                       </div>
                       <div class="row p-3">
                        <div class="col-3  text-light">password</div>
                        <div class="col-auto"><input type="password" class="form-control"></div>
                       </div>
                       <div class="row p-3">
                        <div class="col-3  text-light">Confirm password</div>
                        <div class="col-auto"><input type="password" class="form-control" [(ngModel)]="password"></div>
                       </div>
                       <div class="row p-3">
                        <div class="col-3  text-light">Select details</div>
                        <div class="col-auto">
                        <select name="details" id="details" class="form-control" [(ngModel)]="userStatus">
                            <option value=""> ..select..</option>
                            <option value="admin">Admin</option>
                            <option value="Customer">customer</option>
                            <option value="employee">Employee</option>
                        </select></div>
                       </div>
                       <div class="row justify-content-center pl-5 mt-5">
                        <div class="col-auto  text-light"><input type="radio">The given details is correct</div>
                         <div class="col-auto"><button type="button" class="btn btn-success" (click)="addUserDetails()">save</button></div>
                       </div>      
                      </div>
        </div>
        <!-- <button type="button " (click)="deleteUserDetail()">delete</button> -->
</body>


