
<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
  <body>
  <mat-stepper [linear]="!isLinear" #stepper class="container">
   <mat-step [stepControl]="firstFormGroup" >
      <form [formGroup]="firstFormGroup" (ngSubmit)="firstFormGroupSubmit()" >
          <ng-template matStepLabel>Fill out your Personal</ng-template>
       <div class="d-flex justify-content-center m-5">
           <div action="" class="border p-5 text-dark" id="formgroup1">
                       <h2 class="text-center text-primary">Personal Details</h2>
                   <div class="row p-3 ml-5">
                      <div class="col-sm-3">Full Name :</div>
                      <div class="col-sm-10"><input type="text" class="form-control" name="fullName" formControlName="fullName"></div>
                      <div class="text-danger" *ngIf="firstFormGroup.get('fullName').hasError('required') && isFirstFormGroupSubmit"> Fill the FullName</div>
                   </div>
                   <div class="row p-3">
                      <div class="col-sm-3">Email :</div>
                      <div class="col-sm-10"><input type="email" class="form-control" name="email"  formControlName="email"></div>
                      <div class="text-danger" *ngIf="firstFormGroup.get('email').hasError('required') && isFirstFormGroupSubmit"> Fill the Email</div>
                   </div>
                   <div class="row p-3">
                      <div class="col-sm-3">Password :</div>
                      <div class="col-sm-10"><input type="password" class="form-control" name="password" formControlName="password" ></div>
                      <div class="text-danger" *ngIf="firstFormGroup.get('password').hasError('required') && isFirstFormGroupSubmit"> Fill the  Password</div>
                   </div>
                   <div class="row p-3">
                      <div class="col-sm-3">Phone Num :</div>
                      <div class="col-sm-10"><input type="number" class="form-control" name="phoneNum"  formControlName="phoneNum"></div>
                      <div class="text-danger" *ngIf="firstFormGroup.get('phoneNum').hasError('required') && isFirstFormGroupSubmit"> Fill the Phone NUmber</div>
                   </div>
                   <div class="row p-3">
                      <div class="col-sm-3">Address :</div>
                      <div class="col-sm-10"><textarea name="" id="address" cols="40" rows="3" name="address"  formControlName="address"></textarea></div>
                      <div class="text-danger" *ngIf="firstFormGroup.get('address').hasError('required') && isFirstFormGroupSubmit"> Fill the Address</div>
                   </div>
               </div>
              </div> 
          
       <div class="d-flex justify-content-center">
         <button mat-button matStepperNext class="btn btn-primary">Next</button>
       </div>
      </form>
    </mat-step>
   
   <mat-step [stepControl]="secondFormGroup" label="Fill out your Company address">
      <form [formGroup]="secondFormGroup" (ngSubmit)="secondFormGroupSubmit()" >
                   <div class="d-flex justify-content-center m-5">
           <div  class="border  text-dark p-5" id="formgroup2">
                       <h2 class="text-center text-primary">Company Details</h2>
                   <div class="row p-3 ml-5">
                      <div class="col-sm-4">Company Name :</div>
                      <div class="col-sm-10"><input type="text" class="form-control" name="companyName" formControlName="companyName" ></div>
                      <div class="text-danger" *ngIf="secondFormGroup.get('companyName').hasError('required') && isSecondFormGroupSubmit"> Fill the CompanyName</div>
                   </div>
                   <div class="row p-3">
                      <div class="col-sm-4">Company email :</div>
                      <div class="col-sm-10"><input type="email" class="form-control" name="companyEmail"   formControlName="companyEmail" ></div>
                      <div class="text-danger" *ngIf="secondFormGroup.get('companyEmail').hasError('required') && isSecondFormGroupSubmit"> Fill the CompanyEmail</div>
                   </div>
                   <div class="row p-3">
                      <div class="col-sm-4">Company Address:</div>
                      <div class="col-sm-10"><input type="text" class="form-control" name="companyAddress"  formControlName="companyAddress" ></div>
                      <div class="text-danger" *ngIf="secondFormGroup.get('companyAddress').hasError('required') && isSecondFormGroupSubmit"> Fill the CompanyAddress</div>
                   </div>
                   <div class="row p-3">
                      <div class="col-sm-4">Phone Num :</div>
                      <div class="col-sm-10"><input type="number" class="form-control" name="companyPhoneNum"  formControlName="companyPhoneNum"></div>
                      <div class="text-danger" *ngIf="secondFormGroup.get('companyPhoneNum').hasError('required') && isSecondFormGroupSubmit"> Fill the CompanyPhoneNumber</div>
                   </div>
                   <div class="row p-3">
                     <div class="col-sm-4">GST Number :</div>
                     <div class="col-sm-10"><input type="text" class="form-control" name="gstNum" formControlName="gstNum" ></div>
                     <div class="text-danger" *ngIf="secondFormGroup.get('gstNum').hasError('required') && isSecondFormGroupSubmit"> Fill the GStNum</div>
                  </div>
                   <div  class="row">
                    <div class="col"> 
                       <div class="row p-3">
                    <div class="col-sm-3">Country:</div>
                    <div class="col-sm-10"><select name="country" id="country" class="form-control form-select" name="country" formControlName="country">
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="4">4</option>
                       <option value="5">5</option>
                       <option value="6">6</option>
                       <option value="7">7</option>
                       <option value="8">8</option>
                    </select></div>
                    <div class="text-danger" *ngIf="secondFormGroup.get('country').hasError('required') && isSecondFormGroupSubmit"> Choose Country</div>
                 </div>
              </div>
              <div class="col"> 
                 <div class="row p-3">
              <div class="col-sm-5">State :</div>
              <div class="col-sm-10"><select name="" id="state" class="form-control form-select" name="state" formControlName="state">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
              </select></div>
              <div class="text-danger" *ngIf="secondFormGroup.get('state').hasError('required') && isSecondFormGroupSubmit"> Choose State</div>
           </div>
        </div>
              </div>
                   <div class="row p-3">
                      <div class="col-sm-3">Address :</div>
                      <div class="col-sm-10"><textarea name="" id="companyAddress" cols="40" rows="3" name="companyAddress"  formControlName="companyAddress"></textarea></div>
                      <div class="text-danger" *ngIf="secondFormGroup.get('companyAddress').hasError('required') && isSecondFormGroupSubmit"> Fill the FirstName</div>
                   </div>
               </div>
              </div> 
          

       <div class="d-flex justify-content-center">
         <button mat-button matStepperPrevious class="btn btn-primary me-5">Back</button>
         <button mat-button matStepperNext  class="btn btn-primary">Next</button>
       </div>
      </form>
   </mat-step>
   <mat-step [stepControl]="thirdFormGroup" label="Fill out your Bank-Details">
       <form [formGroup]="thirdFormGroup" (ngSubmit)="addSellerDetails()" >
           <div class="d-flex justify-content-center m-3">
               <div action="" class="border  text-dark p-5" id="formgroup3">
                  <h2 class="text-center text-primary">Bank Details</h2>
              <div class="row p-3 ml-5">
                 <div class="col-sm-4">Full Name :</div>
                 <div class="col-sm-10"><input type="text" class="form-control" name="fullNameBank"  formControlName="fullNameBank"></div>
                 <div class="text-danger" *ngIf="thirdFormGroup.get('fullNameBank').hasError('required') && isThirdFormGroupSubmit"> Fill the Full Name In Bank</div>
              </div>
              <div class="row p-3">
                 <div class="col-sm-4">Phone Number:</div>
                 <div class="col-sm-10"><input type="number" class="form-control" name="bankPhoneNumber"  formControlName="bankPhoneNumber"></div>
                 <div class="text-danger" *ngIf="thirdFormGroup.get('bankPhoneNumber').hasError('required') && isThirdFormGroupSubmit"> Fill the Bank Phone Number</div>
              </div>
              <div class="row p-3">
                  <div class="col-sm-4">Bank Name :</div>
                  <div class="col-sm-10"><input type="text" class="form-control" name="bankName"  formControlName="bankName"  ></div>
                  <div class="text-danger" *ngIf="thirdFormGroup.get('bankName').hasError('required') && isThirdFormGroupSubmit"> Fill the BankName</div>
               </div>
              <div class="row p-3">
                 <div class="col-sm-3">Account Number :</div>
                 <div class="col-sm-10"><input type="email" class="form-control" name="bankAccountNumber"  formControlName="bankAccountNumber"></div>
                 <div class="text-danger" *ngIf="thirdFormGroup.get('bankAccountNumber').hasError('required') && isThirdFormGroupSubmit"> Fill the Bank Account Number</div>
              </div>
              <div class="row p-3">
                 <div class="col-sm-3">IFSC :</div>
                 <div class="col-sm-10"><input type="text" class="form-control" name="ifsc" formControlName="ifsc"></div>
                 <div class="text-danger" *ngIf="thirdFormGroup.get('ifsc').hasError('required') && isThirdFormGroupSubmit"> Fill the IFSC</div>
              </div>
              <div class="row p-3">
                 <div class="col-sm-3">Branch :</div>
                 <div class="col-sm-10"><input type="text" class="form-control" name="branch" formControlName="branch"></div>
                 <div class="text-danger" *ngIf="thirdFormGroup.get('branch').hasError('required') && isThirdFormGroupSubmit"> Fill the Branch</div>
              </div>
              <!-- <div class="row p-3">
                  <div class="col-sm-4">Add Passbook :</div>
                  <div class="col-sm-10"><input type="file" name="image" id="image" ></div>
               </div> -->
               </div>
          </div>
          <div class="d-flex justify-content-center">
           <button mat-button matStepperPrevious  class="btn btn-primary me-5">Back</button>
           <button   type="submit"  class="btn btn-primary">Submit</button>
           <!-- <input type="submit" name="submit" id=""> -->
         </div>
    
      </form>

   </mat-step>
  </mat-stepper>
</body>