body{
    background-image: url("./ass/images/login/login-background.jpg);
    background-size: cover;
    height: auto;
}
#formgroup1,#formgroup2,#formgroup3{
    background-image: url("./ass/images/sellerRegister/background.jpg);

}