
<div class="bg-dark rounded">  
<div class=" text-primary">
      <div class="d-flex p-2 mt-5">
        <div>
            <ul class="text-info"><div class="h3">about us</div>
              <li>example1</li>
              <li>example1</li>
              <li>example1</li>
              <li>example1</li>
              <li>example1</li>
            </ul>
        </div>
        <div>
            <ul class="text-info"><div class="h3"> Features</div>
                <li>example1</li>
                <li>example1</li>
                <li>example1</li>
                <li>example1</li>
                <li>example1</li>
            </ul>

        </div>
        <div >
         <ul class="text-info"><div class="h3"> Contuct-Us</div>
            <li>example1</li>
            <li>example1</li>
            <li>example1</li>
            <li>example1</li>
            <li>example1</li>
        </ul>
        </div>
      </div>
</div>
<div >
    <div class="row">
        <div class="col"></div>
        <div class="col"> <a href=""><img src="/assets/images/footer/facebook.png"  alt="" class="img-fluid w-50">
            </a>
        </div>
        <div class="col"><a href=""><img src="/assets/images/footer/instagram.png" alt="" class="img-fluid w-50">
        </a>
        </div>
        <div class="col"><a href=""><img src="/assets/images/footer/twitter.png" alt="" class="img-fluid w-50">
        </a>
        </div>
        <div  class="col" ><a href=""><img src="/assets/images/footer/whatsapp.png" alt="" class="img-fluid w-50" >
        </a>
        </div>
        <div class="col"><a href=""><img src="/assets/images/footer/youtube.png" alt="" class="img-fluid w-50">
        </a>
        </div>
        <div class="col"></div>
    </div>
</div>

    <div class=" d-flex justify-content-center text-warning">
        <div class="px-2"><a href="">legal stuff</a> </div>/
        <div class="px-2"><a href="">privacy policy </a></div>/
        <div class="px-2"><a href="">security </a></div>
    </div>
</div>